services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  stable-diffusion:
    image: ghcr.io/ai-dock/stable-diffusion-webui:latest
    container_name: stable-diffusion
    ports:
      - "7860:17860"
    volumes:
      - stable-diffusion-models:/opt/stable-diffusion-webui/models
      - stable-diffusion-outputs:/opt/stable-diffusion-webui/outputs
    environment:
      - COMMANDLINE_ARGS=--api --listen --skip-torch-cuda-test --use-cpu all --no-half --enable-insecure-extension-access
    restart: unless-stopped

  open-webui:
    build:
      context: .
      args:
        OLLAMA_BASE_URL: '/ollama'
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
      - stable-diffusion
    ports:
      - ${OPEN_WEBUI_PORT-3001}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
      - 'STABLE_DIFFUSION_URL=http://stable-diffusion:17860'
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  ollama: {}
  open-webui: {}
  stable-diffusion-models: {}
  stable-diffusion-outputs: {}
